---
- name: Update all packages
  apt:
    name: "*"
    state: latest
  become: true

- name: Install needed packages
  apt:
    name:
      - apt-transport-https
      - curl
      - gnupg
      - libgtk-3-dev
      - git
    state: present
  become: true

- import_tasks: node.yml
- import_tasks: java_scala.yml

- name: Install ubuntu-desktop
  apt:
    name:
      - ubuntu-desktop
    state: present
  become: true

- name: Clone daffodil-vscode
  shell: "git clone https://github.com/apache/daffodil-vscode.git /home/{{ ansible_user }}/daffodil-vscode"

- name: Run yarn install
  shell:
    cmd: yarn install
    chdir: "/home/{{ ansible_user }}/daffodil-vscode"
